body{
    /* display: grid;
    margin: 0;
    height: 100vh;
    grid-template-areas:
    "header header"
    "main main"
    ;

    grid-template-rows: 30px 100px ;
    grid-template-columns: 1fr 80px; */
    background-color: rgb(47, 98, 98);
    color: aliceblue;
}

header{
    grid-area: header;
    background-color: rgb(230, 177, 177);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 8px;  
}
main{
    grid-area: main;
    background-color: antiquewhite;
}

main h2{
    font-family: 'Times New Roman', Times, serif;font-weight: bold ;
    font-size: 2.6rem;
    font-family: 'Grape Nuts', cursive;
    letter-spacing: 8px;
    line-height: 2px;
    /* font-variant:inherit; */
}
main p{
    font-style: italic;
    font-variant: small-caps;
    font-stretch: 50%;
    text-decoration:underline;
}

/* aside{
    grid-area: aside;
    background-color: cornflowerblue;
}

footer{
    grid-area: footer;
    background-color: darkcyan;
} */
